<div class="content"
     [appCoursePlateStatus]="course.date"
     [ngClass]="course.isTopRated ? 'top-rated' : null"
>
  <div class="time">
    <div>{{course.length | duration}}</div>
    <div>{{course.date | date}}</div>
  </div>

  <h2>
    {{course.name | uppercase }}
    <fa-icon *ngIf="course.isTopRated" [icon]="starIcon"></fa-icon>
  </h2>
  <div class="description-wrapper">
    <div class="description">
      {{course.description}}
    </div>
    <div class="action">
      <button (click)="edit.emit(course.id)">Edit</button>
      <button (click)="deleteCourse(course)">Delete</button>
    </div>
  </div>
</div>
