@import "src/variables.scss";
.content {
  margin-top: $margin-top-default;
  display: flex;
  padding: $content-padding;
  border: 1px solid;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;

  .time {
    display: flex;
    justify-content: flex-end;
    div {
      margin-right: 12px;
    }
  }

  .description-wrapper {
    display: flex;
    justify-content: space-between;

    .action {
      display: flex;
      button {
        margin-right: 12px;
        padding: $btn-padding;
      }
    }
  }

  fa-icon {
    color: goldenrod;
  }

  .top-rated {
    background-color: rgba(245, 146, 27, 0.4);
  }
}
