<div class="card">
  <form [formGroup]="form" (submit)="save()">
    <h2>{{currentCourseId === null ? 'New course' : (form.value['name'] | uppercase)}}</h2>
    <app-field-header
      text="title"
      [isRequired]="true"
    ></app-field-header>
    <input
      formControlName="name"
      type="text"
      placeholder="Text input"
    />

    <app-field-header
      text="description"
      [isRequired]="true"
    ></app-field-header>
    <textarea
      formControlName="description"
      placeholder="Add description"
    ></textarea>


    <div class="fixed-size">
      <app-field-header
        text="duration"
        [isRequired]="true"
      ></app-field-header>
      <app-duration-control formControlName="length"></app-duration-control>
    </div>


    <div class="fixed-size date-area">
      <app-field-header
        text="date"
        [isRequired]="true"
      ></app-field-header>
      <input matInput formControlName="date" [matDatepicker]="picker">
      <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>

    <div class="fixed-size">
      <app-field-header
        text="authors"
        [isRequired]="true"
      ></app-field-header>
      <mat-form-field appearance="legacy">
        <mat-select [formControl]="form.controls['authors']" multiple>
          <mat-option *ngFor="let author of (authorsList$ | async)" [value]="author">{{author.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="footer">
      <button mat-button mat-stroked-button color="warn" (click)="navigateToMainPage()">Cancel</button>
      <button mat-button mat-raised-button color="primary" type="submit" >Save</button>
    </div>

  </form>
</div>
