<div class="card">
  <form [formGroup]="form" (submit)="save()">
    <h2 *ngIf="isNew else currentCourse">New course</h2>
    <ng-template #currentCourse>
      <h2>{{form.value['title'] | uppercase}}</h2>
    </ng-template>
    <div class="input-field">
      <div>
        Title:
      </div>
      <div class="status">
        *required
      </div>
    </div>
    <input
      formControlName="title"
      type="text"
      placeholder="Text input"
    />

    <div class="input-field">
      <div>
        Description:
      </div>
      <div class="status">
        *required
      </div>
    </div>
    <textarea
      formControlName="description"
      placeholder="Add description"
    ></textarea>


    <div class="fixed-size">
      <div class="input-field">
        <div>
          Duration:
        </div>
        <div class="status">
          *required
        </div>
      </div>
      <input
        formControlName="duration"
        type="number"
        placeholder="minutes"
      />
    </div>


    <div class="fixed-size date-area">
      <div class="input-field">
        <div>
          Date:
        </div>
        <div class="status">
          *required
        </div>
      </div>
      <input matInput formControlName="creationDate" [matDatepicker]="picker">
      <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>

    <div class="fixed-size">
      <div class="input-field">
        <div>
          Authors:
        </div>
        <div class="status">
          *required
        </div>
      </div>
      <input
        formControlName="authors"
        type="text"
        placeholder="Start typing"
      />
    </div>

    <div class="footer">
      <button (click)="cancel()">Cancel</button>
      <button class="success">Save</button>
    </div>

  </form>
</div>
