<div class="card">
  <form [formGroup]="form">
    <h2>{{currentCourseId === null ? 'New course' : (form.value['name'] | uppercase)}}</h2>
    <app-field-header
      text="title"
      [isRequired]="true"
    ></app-field-header>
    <input
      formControlName="name"
      type="text"
      placeholder="Text input"
    />
    <span *ngIf="!!controls['name'].hasError('required')" class="error">Name is required!</span>
    <span
      *ngIf="!!controls['name'].hasError('maxlength')"
      class="error">Max length of name should not exceed 50 characters</span>

    <app-field-header
      text="description"
      [isRequired]="true"
    ></app-field-header>
    <textarea
      formControlName="description"
      placeholder="Add description"
    ></textarea>
    <span *ngIf="!!controls['description'].hasError('required')" class="error">Description is required!</span>
    <span
      *ngIf="!!controls['description'].hasError('maxlength')"
      class="error">Max length of description should not exceed 500 characters</span>


    <div class="fixed-size">
      <app-field-header
        text="duration"
        [isRequired]="true"
      ></app-field-header>
      <app-duration-control formControlName="length"></app-duration-control>
      <span *ngIf="!!controls['length'].hasError('min')" class="error">Course minimum duration should be not less than 10 minutes!</span>
    </div>


    <div class="fixed-size date-area">
      <app-field-header
        text="date"
        [isRequired]="true"
      ></app-field-header>
      <app-date-control formControlName="date"></app-date-control>
      <span *ngIf="!!controls['date'].hasError('required')" class="error">Date is required!</span>
    </div>

    <div class="fixed-size">
      <app-field-header
        text="authors"
        [isRequired]="true"
      ></app-field-header>
      <app-autocomplete-control
        style="width: 100%"
        formControlName="authors"
        [showName]="'name'"
        [data]="authorsList$ | async"
      ></app-autocomplete-control>
      <span *ngIf="!!controls['authors'].hasError('required')" class="error">At least 1 author should be selected</span>
    </div>

    <div class="footer">
      <button mat-button mat-stroked-button color="warn" (click)="navigateToMainPage()">Cancel</button>
      <button mat-button mat-raised-button color="primary" [disabled]="form.invalid" (click)="save()" type="submit">
        Save
      </button>
    </div>

  </form>
</div>
