$color: #C21F39;

.control {
  box-sizing: border-box;

  .chips {
    margin: 12px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;

    .chip {
      border-style: dashed;
      border-width: 2px;
      border-radius: 2px;
      border-color: $color;
      color: $color;
      padding: 8px;
      margin-right: 6px;
      font-weight: 500;

      .close {
        cursor: pointer;
        margin-left: 12px;
        border: 1px solid white;
        background-color: $color;
        color: white;
        font-weight: 600;
        transition: 300ms ease-in;

        &:hover {
          background-color: white;
          color: $color;
          border: 1px $color solid;
        }
      }
    }
  }

  input {
    border: 1px solid;
    padding: 4px 6px;
    font-size: 14px;
    width: 200px;
  }
}

.hints {
  list-style-type: none;
  padding: 0;
  margin-top: 4px;
  overflow-x: auto;
  position: absolute;
  height: 120px;

  li {
    width: 200px;
    background-color: white;
    border: 1px solid;
    padding: 4px 6px;
    transition: 300ms ease-in;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 0;
    }

    &:hover {
      color: white;
      background-color: $color;
    }
  }
}
