@import "src/variables.scss";

footer {
  display: flex;
  padding: $content-padding;
  justify-content: flex-end;
  color: white;
  background-color: black;
  font-size: 12px;
  font-style: italic;
}
