@import "src/variables.scss";
.content {
  padding: $content-padding;

  .add-course-wrapper {
    .action {
      display: flex;
      justify-content: flex-end;
      margin-top: $margin-top-default;
      .btn {
        font-size: 18px;
        padding: $btn-padding;
      }
    }
    .no-data {
      display: flex;
      border: 1px solid;
      border-radius: 12px;
      margin-top: $margin-top-default;
      font-size: 18px;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      height: 60px;
    }
  }
}
