<app-breadcrumbs></app-breadcrumbs>

<div class="content">

  <app-search (search)="search($event)"></app-search>

  <div class="add-course-wrapper">
    <div class="action">
      <button class="btn">Add course</button>
    </div>
    <ng-container *ngIf="(courses$ | async | filter : searchValue) as courses; else: noData">
      <ng-container *ngFor="let course of (courses | orderBy); trackBy: trackByIdentity">
        <app-course-card (delete)="deleteCourse($event)" [course]="course"></app-course-card>
      </ng-container>
    </ng-container>

    <ng-template #noData>
      <div class="no-data">
          No data. Feel free to add new course
      </div>
    </ng-template>
  </div>

</div>
