<div class="content">

  <app-search (search)="search($event)"></app-search>

  <div class="add-course-wrapper">
    <div class="action">
      <button class="btn" [routerLink]="['/courses/add']">{{"PAGES.COURSES.ADD_COURSE" | translate}}</button>
    </div>
    <ng-container *ngIf="(courses$ | async) as courses">
      <ng-container *ngIf="courses.length > 0; else: noData">
        <ng-container *ngFor="let course of courses; trackBy: trackByIdentity">
          <app-course-card
            (delete)="deleteCourse($event)"
            [course]="course"
            (edit)="editCourse($event)"
          ></app-course-card>
        </ng-container>
        <div class="loaderTab">
          <button (click)="loadMore()">{{"PAGES.COURSES.LOAD_MORE" | translate}}</button>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #noData>
      <div class="no-data">
        {{"PAGES.COURSES.NO_DATA" | translate}}
      </div>
    </ng-template>
  </div>

</div>
