@import "src/variables.scss";

:host {
  @include centralize();

  .card {
    @include card-props(360px);

    .name-status {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;
      margin-top: 12px;
      .status {
        color: $muted;
      }
    }
    input {
      width: 100%;
      font-size: 14px;
      padding: 6px 4px;
    }

    .card-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 18px;
      button {
        padding: 8px 12px;
        cursor: pointer;
      }
    }
  }
}
