<div class="card">
  <form [formGroup]="form" (submit)="submit()">
    <h2>{{"PAGES.AUTH.LOGIN" | translate}}</h2>
    <h5 class="error" *ngIf="hasError | async">{{"PAGES.AUTH.AUTH_ERROR" | translate}}</h5>
    <div class="name-status">
      <div>
        {{"PAGES.AUTH.EMAIL" | translate}}:
      </div>
      <div class="status">
        *required
      </div>
    </div>
    <input
      type="email"
      [placeholder]="'PAGES.AUTH.EMAIL_PLACEHOLDER' | translate"
      formControlName="email"
    />
    <div class="name-status">
      <div>
        {{"PAGES.AUTH.PASSWORD" | translate}}:
      </div>
      <div class="status">
        *required
      </div>
    </div>
    <input
      type="password"
      [placeholder]="'PAGES.AUTH.PASSWORD_PLACEHOLDER'| translate"
      formControlName="password"
    />

    <div class="card-footer">
      <a href="#">{{"PAGES.AUTH.FORGOT_PASSWORD" | translate}}</a>
      <button type="submit">{{"PAGES.AUTH.LOGIN" | translate}}</button>
    </div>
  </form>
</div>
