.content {
  background-color: white;
  padding: 20px 30px;

  ul {
    display: flex;
    padding: 0;
    li {
      list-style-type: none;

      .slash {
        margin: 0 6px;
      }
    }
  }
}
